[run]
branch = true
source = .
omit = */tests/*, */migrations/*, */urls.py, */settings/*
       */asgi.py, */wsgi.py, manage.py, fabfile.py, */apps.py, populate.py

[report]
show_missing = true
skip_covered = true
