{% load js_routes_tags %}<!DOCTYPE html>
<html  class="h-full bg-gray-200">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% js_routes %}
    <script src="{{ STATIC_URL}}dist/app.js" defer></script>
    <link href="{{ STATIC_URL}}dist/app.css" rel="stylesheet" />
  </head>
  <body class="font-sans leading-none text-gray-700 antialiased">
    {% csrf_token %}
    {{ page|json_script:"page" }}
    <div id="app">
    </div>
  </body>
</html>
